.body-background{
    background-color: #FFFFFF;
}
.padding-text{
    width: 571px;
    height: 336px;
    padding-bottom: 182px;
    padding-left: 130px;
}

.footer-height{
    height: 200px;
}
.bg{
    background: #289BDE;
}

