.padding-text{
    width: 571px;
    height: 336px;
    padding-bottom: 182px;
    padding-left: 130px;
}

.footer-height{
    height: 200px;
}
/* .course-header-width{
    width: 606px;
    height: 190px;
} */

